<section id="content">
    <main>
 <ul class="box-info">
    <li>
      <i class='bx bxs-calendar-check' ></i>
      <span class="text">
        <h3>1020</h3>
        <p>Missions</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
        <h3>2834</h3>
        <p>Utilisateurs</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-shopping-bag-alt' ></i>
      <span class="text">
        <h3>2543</h3>
        <p>Nouveaux articles</p>
      </span>
    </li>
  </ul>
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Missions Récentes</h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>Mission</th>
            <th>Date Order</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Geant Azur City</p>
            </td>
            <td>01-10-2023</td>
            <td><span pButton pRipple class="p-button-rounded p-button-warning" role="button" label="  In Progress  " aria-disabled="true" style="font-size: 16px; width: 110px;">  </span></td>
          </tr>
          <tr>
            <td>
            <p>Monoprix</p>
            </td>
            <td>01-10-2023</td>
            <td><span pButton pRipple class="p-button-rounded p-button-danger" role="button" label="  Failed  " aria-disabled="true" style="font-size: 16px; width: 110px;">  </span></td>
          </tr>
          <tr>
            <td>
            <p>Aziza Sfax</p>
            </td>
            <td>01-10-2023</td>
            <td><span pButton pRipple class="p-button-rounded p-button-success" role="button" label="  Succes  " aria-disabled="true" style="font-size: 16px; width: 110px;">  </span></td>
          </tr>
          <tr>
            <td>
 <!--<img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">-->           
         <p>MG </p>
            </td>
            <td>15-03-2023</td>
            <td><span pButton pRipple class="p-button-rounded p-button-danger" role="button" label="  Failed  " aria-disabled="true" style="font-size: 16px; width: 110px;">  </span></td>
          </tr>
          <tr>
            <td>
           <p>Carrefour Marsa</p>
            </td>
            <td>15-03-2023</td>
            <td><span pButton pRipple class="p-button-rounded p-button-success" role="button" label="Sucess" aria-disabled="true"  style="font-size: 16px; width: 110px;"></span>
            </td>
 
          </tr>
        </tbody>
      </table>
    </div>
    <div class="todo">
      <div class="head">
        <h3>Nouveaux Articles</h3>
        <i class='bx bx-plus' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <ul class="todo-list">
        <li class="completed">
          <p>Designation Article</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="completed">
          <p>Designation Article</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="not-completed">
          <p>Designation Article</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="completed">
          <p>Designation Article</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="not-completed">
          <p>Designation Article</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
      </ul>
    </div>
  </div>
 </main>
 </section>